.footer {
    background-color: #353535;
    color: white;
    padding: 25px 25px;
}

.footer__links {
    color: white;
    display: flex;
    flex-direction: row;
}

.footer__texte {
    margin-bottom: 10px;
}

.footer__texte--titre {
    font-family: 'Shrikhand', cursive;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.footer__logos {
    font-size: 0.9rem;
    margin-right: 10px;
}

@media screen and (min-width: 800px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__texte--titre {
        text-align: center;
    }
    .footer__container {
        display: flex;
        width: 60%;
        justify-content: space-around;
    }
}