@mixin footer {
    background-color: $grisfonce;
    color: white;
    padding: 25px 25px;
    &__links {
        color: white;
        display: flex;
        flex-direction: row;
    }
    &__texte {
        margin-bottom: 10px;
        &--titre {
            font-family: 'Shrikhand', cursive;
            font-size: 1.2rem;
            margin-bottom: 20px;
        }
    }
    &__logos {
        font-size: 0.9rem;
        margin-right: 10px;
    }
}