@mixin header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 100%;
    color: black;
    position: relative; // Sans cette propriété l'ombre ne s'affiche pas.
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    &__logo {
        font-family: 'Shrikhand', cursive;
        margin: 0;
        padding: 0;
        font-size: 1.9rem;
    }
}