// ---------Animation Heart---------//
.description_hearts {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    cursor: pointer;
    &--heart {
        position: absolute;
        font-size: 25px;
        transition: all 500ms linear;
        &.empty {
            opacity: 1;
            color: black;
        }
        &.full {
            opacity: 0;
            background: -webkit-linear-gradient($color-primary, $color-secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &:hover {
        .description_hearts--heart {
            &.empty {
                opacity: 0;
            }
            &.full {
                opacity: 1;
            }
        }
    }
}