@import "./utils/variables";
@import "./base/font";
@import "./utils/mixins";
@import "./utils/placeholders";
@import "./layout/header";
@import "./Components/bouton";
@import "./Components/coeurs";
@import "./Components/coeur-plein";
@import "./layout/footer";
body {
    margin: 0;
    padding: 0;
}

.spinner {
    width: 200px;
    height: 200px;
    z-index: 4;
    fill: none;
    stroke-width: 15px;
    animation: pop 2000ms cubic-bezier(.63, .12, .9, .43) infinite;
    &__container {
        @extend %flex-center;
        background-color: rgba($color: #ffffff, $alpha: 0.8);
        position: fixed;
        z-index: 3;
        width: 100%;
        height: 100%;
        animation: stop 2700ms;
        visibility: hidden;
    }
}

// Animation de l'élément spinner
@keyframes pop {
    0% {
        stroke: $primaire;
        transform: scale(0.01);
    }
    49% {
        stroke: rgba($color: $primaire, $alpha: 0);
        transform: scale(1);
    }
    50% {
        stroke: rgba($color: #ffffff, $alpha: 0.8);
    }
    51% {
        transform: scale(0.01);
        stroke: $secondaire;
    }
    100% {
        transform: scale(1);
        stroke: rgba($color: $secondaire, $alpha: 0);
    }
}

// Permet de faire disparaître l'élément spinner
@keyframes stop {
    0% {
        visibility: visible;
    }
    99% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

a {
    text-decoration: none;
    color: black;
}

.header {
    @include header;
}

.main {
    margin: 0;
    padding: 0;
    @include flex-justify (column, center);
}

.locate {
    @include flex (row, center, center);
    width: 100%;
    min-width: 300px;
    background-color: $gris;
    height: 50px;
    &__logo {
        margin-right: 5px;
    }
    &__ville {
        margin-left: 5px;
    }
}

.reservation {
    background-color: $grisclair;
    text-align: center;
    min-width: 300px;
    &__container {
        @include flex-align (column, center);
        padding: 40px 0px;
    }
    &__titre {
        max-width: 275px;
        font-size: 1.5rem;
        font-weight: 800;
        margin: 0;
        padding: 0;
    }
    &__paragraphe {
        max-width: 335px;
        font-size: 1.2rem;
        font-weight: 300;
        margin: 0;
        padding: 0;
    }
    &__bouton {
        @include bouton;
    }
}

.fonctionnement {
    min-width: 300px;
    &__titre {
        margin: 40px 20px 30px 20px;
    }
    &__container {
        width: 100%;
        @include flex-justify (row, space-evenly);
        flex-wrap: wrap;
    }
    &__bouton {
        @include butts;
        &:hover {
            background-color: lighten($color: $primaire, $amount: 35%);
            box-shadow: $over-shadow;
            & .fonctionnement__logo {
                color: $primaire;
            }
        }
    }
    &__numero {
        @include numeros;
    }
    &__logo {
        @include logos;
    }
}

.restos {
    background-color: $grisclair;
    margin-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    &__titre {
        margin: 40px 20px 30px 20px;
        //margin-left: 20px;
    }
}

.vignettes {
    &__container {
        width: 100%;
        @include flex-justify (row, space-evenly);
        flex-wrap: wrap;
    }
    &__resto {
        position: relative; // Cet élément doit être déclaré relatif pour qu'au moins 1 de ses enfants puisse être absolu
        display: flex;
        flex-direction: column;
        height: 250px;
        background-color: white;
        width: 330px;
        border-radius: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
        &:hover {
            box-shadow: $over-shadow;
            opacity: 0.75;
        }
    }
    &__img {
        height: 70%;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-size: cover;
        background-position: center;
        @include images;
    }
    &__new {
        position: absolute;
        z-index: 2;
        top: 15px;
        right: 12px;
        padding: 6px 11px;
        color: $vert;
        font-weight: 600;
        font-size: 0.9rem;
        background-color: $vertpale;
        border-radius: 2px;
    }
    &__bandeau {
        height: 30%;
        @include flex (row, space-between, center);
        padding: 0 20px;
    }
    &__texte {
        &__nom {
            font-size: 1.1rem;
            font-weight: 600;
            margin-bottom: 4px;
        }
        &__ville {
            margin-top: 4px;
        }
    }
    &__coeurs {
        @include coeurs;
        &:hover {
            & .vignettes__coeurs__coeur--vide {
                visibility: hidden;
            }
            & .vignettes__coeurs__coeur--plein {
                visibility: visible;
                transform: scale(1);
            }
        }
        &__coeur {
            position: absolute;
            left: 12.5%;
            top: 0;
            &--plein {
                @include coeurplein;
            }
            &--vide {
                color: $grislogo;
            }
        }
    }
}

.footer {
    @include footer;
}